<h1 id="getstarted">Get started</h1>

<ol>
<li><p><a href="https://github.com/Tazaf/ionicitude/wiki">Introduction</a></p></li>

<li><p><a href="https://github.com/Tazaf/ionicitude/wiki/Installing-the-Wikitude-plugin">Installing the Wikitude plugin</a></p></li>

<li><p><a href="https://github.com/Tazaf/ionicitude/wiki/Installing-Ionicitude">Installing Ionicitude</a></p></li>

<li><p><a href="https://github.com/Tazaf/ionicitude/wiki/Initialize-Ionicitude">Initialize Ionicitude</a></p></li>

<li><p><a href="https://github.com/Tazaf/ionicitude/wiki/Checking-Device's-Features">Checking Device's Features</a></p></li>

<li><p><a href="https://github.com/Tazaf/ionicitude/wiki/Execute-code-only-when-ready">Execute code only when ready</a></p></li>

<li><p><a href="https://github.com/Tazaf/ionicitude/wiki/Launching-an-AR-World">Launching an AR World</a></p></li>

<li><p><a href="https://github.com/Tazaf/ionicitude/wiki/Interaction-between-the-Ionic-app-and-the-AR-View">Interaction between the Ionic app and the AR View</a></p></li>

<li><p><a href="https://github.com/Tazaf/ionicitude/wiki/Ionicitude-Callback-Handling-Mechanism-(CHM)">Ionicitude Callback Handling Mechanism (CHM)</a></p></li>
</ol>

<h1 id="apidocumentationhttpsgithubcomtazafionicitudewikiapidocumentation"><a href="https://github.com/Tazaf/ionicitude/wiki/API-Documentation">API Documentation</a></h1>

<ul>
<li><a href="https://github.com/Tazaf/ionicitude/wiki/addAction()"><code>addAction()</code></a></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/callJavaScript()"><code>callJavaScript()</code></a></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/captureScreen()"><code>captureScreen()</code></a></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/checkDevice()"><code>checkDevice()</code></a></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/close()"><code>close()</code></a></li>

<li><code>getSDKBuildInformation()</code></li>

<li><code>getSDKVersion()</code></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/hide()"><code>hide()</code></a></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/init()"><code>init()</code></a></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/launchAR()"><code>launchAR()</code></a></li>

<li><code>openAppSettings()</code></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/ready()"><code>ready()</code></a></li>

<li><code>requestAccess()</code></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/show()"><code>show()</code></a></li>

<li><code>setBackButtonCallback()</code></li>

<li><code>setErrorHandler()</code></li>

<li><code>setDeviceSensorsFinishedCalibrationHandler()</code></li>

<li><code>setDeviceSensorsNeedCalibrationHandler()</code></li>

<li><a href="https://github.com/Tazaf/ionicitude/wiki/setLocation()"><code>setLocation()</code></a></li>
</ul>
