---
---

@import "{{ site.theme }}";
@import "large-screen.scss";

#logo {
  position: relative;
  top: 5px;
}
#sidebar > hr, #sidebar > p {
  display: none;
}
#verlist {
  li:first-child::after {
    content: ' (latest)'
  }
}
#wrapper {
  display: flex;
}
main {
  flex: 1;
  overflow: auto;
}
aside {
  flex: 0 0 260px;
  font-size: 0.9em;
  margin-right: 2em;
  padding-right: 2em;
  border-right: solid 1px #eff0f1;
}
#toc {
  hr, p { display: none; }
}
ul, ol {
  padding-left: 20px;
}
body {
  .page-header {
    text-align: initial;
  }
  .main-content {
    margin: 0;
  }
}
